Repository entorenee/Portfolio-Site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, flow, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "flow",
    "git add"
  ],
  "*.{json, md}": [
    "prettier --write",
    "git add"
  ]
}

ci: update flow setup (#193)
  .eslintrc.js
  .lintstagedrc
  package.json
  yarn.lock
Due: eslint --fix, flow, prettier --write

feat: install and configure react axe
  gatsby-browser.js
  package.json
  yarn.lock
Due: eslint --fix, flow, prettier --write

feat: add main landmarks
  src/layouts/main.js
  src/layouts/projects.js
Due: eslint --fix, flow

feat: add aria labels
  src/projects/simon-game/Components/App.js
  src/projects/simon-game/Components/ColorPlayButtons.js
  src/projects/simon-game/Components/PowerButton.js
  src/projects/simon-game/Components/Start.js
  src/projects/simon-game/Components/Strict.js
  src/projects/tic-tac-toe/Components/Cell.js
Due: eslint --fix, flow

fix: resolve accessibility issues
  src/components/contact/index.js
  src/components/contact/social-icon.js
  src/components/theme-utils.js
  src/components/work/carousel/carousel-controls.js
  src/projects/javascript-calculator/Components/App.js
Due: eslint --fix, flow

text: update carousel selectors to use regex
  src/components/work/__tests__/work.test.js
Due: eslint --fix, flow

feat: add react axe and resolve some accessibility issues (#217)
  gatsby-browser.js
  package.json
  src/components/contact/index.js
  src/components/contact/social-icon.js
  src/components/theme-utils.js
  src/components/work/__tests__/work.test.js
  src/components/work/carousel/carousel-controls.js
  src/layouts/main.js
  src/layouts/projects.js
  src/projects/javascript-calculator/Components/App.js
  src/projects/simon-game/Components/App.js
  src/projects/simon-game/Components/ColorPlayButtons.js
  src/projects/simon-game/Components/PowerButton.js
  src/projects/simon-game/Components/Start.js
  src/projects/simon-game/Components/Strict.js
  src/projects/tic-tac-toe/Components/Cell.js
  yarn.lock
Due: eslint --fix, flow, prettier --write

chore(deps): upgrade babel dependencies
  yarn.lock
Due: none

chore(deps): update husky and lint-staged
  package.json
  yarn.lock
Due: prettier --write

chore(deps): upgrade gatsby dependencies
  yarn.lock
Due: none

chore(deps): update emotion dependencies
  yarn.lock
Due: none

chore(deps): update devDependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): upgrade react-testing-library and jest-dom
  package.json
  src/components/about/__tests__/about.test.js
  src/components/base-components/button/__tests__/button.test.js
  src/components/base-components/card/__tests__/card.test.js
  src/components/base-components/quote-card/__tests__/quote-card.test.js
  src/components/base-components/related-content/__tests__/related-content.test.js
  src/components/contact/__tests__/contact.test.js
  src/components/footer/__tests__/footer.test.js
  src/components/header/__tests__/header.test.js
  src/components/work/__tests__/work.test.js
  testUtils/setupTests.js
  yarn.lock
Due: eslint --fix, flow, prettier --write

test: remove unnecessary cleanup-after-each import
  testUtils/setupTests.js
Due: eslint --fix, flow

chore: update husky and lint-staged
  yarn.lock
Due: none

chore: fix flow precommit check
  .huskyrc
  .lintstagedrc
Due: none

refactor: move propTypes to static property
  src/projects/pomodoro-timer/Components/Timer.js
  src/projects/simon-game/Components/ColorPlayButtons.js
  src/projects/tic-tac-toe/Components/Cell.js
Due: eslint --fix, flow

chore: update lint dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: update testing dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: update React to 16.9.0
  yarn.lock
Due: none

chore: update Gatsby and Emotion dependencies
  yarn.lock
Due: none

chore: update dotenv to 8.1.0
  yarn.lock
Due: none

feat: change Twitter card to summary with large image
  src/layouts/main.js
Due: eslint --fix, flow

feat: add Twitter creator meta tag
  src/layouts/main.js
Due: eslint --fix, flow

feat: add https protocol to Contentful og images
  src/templates/blog-post/index.js
Due: eslint --fix, flow

chore: remove flow check from validate script
  package.json
Due: prettier --write

chore: update eslint dependencies
  package.json
  yarn.lock
Due: prettier --write

feat: create renovate configuration
  renovate.json
Due: prettier --write

chore(deps): update babel monorepo to ^7.5.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @testing-library/jest-dom to ^4.1.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-emotion to ^10.0.14
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency flow-typed to ^2.6.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to ^9.2.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update jest monorepo to ^24.9.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency date-fns to ^1.30.1
  package.json
  yarn.lock
Due: prettier --write
