Repository entorenee/Portfolio-Site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, flow, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "flow",
    "git add"
  ],
  "*.{json, md}": [
    "prettier --write",
    "git add"
  ]
}

chore(deps): update babel monorepo to ^7.12.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to ^10.4.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @babel/core to ^7.12.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to ^10.4.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update jest monorepo to ^26.6.0
  package.json
  yarn.lock
Due: prettier --write

fix: resolve max width issue with blog images
  src/templates/blog-post/index.js
Due: eslint --fix, flow

chore: run Prettier with new settings to resolve CI failure
  src/templates/blog-post/index.js
Due: eslint --fix, flow

chore(deps): update dependency @testing-library/react to v11
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to ^4.3.8
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency slugify to ^1.6.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency flow-typed to v3
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency prismjs to ^1.28.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

chore: temporarily disable flow check
  .huskyrc
Due: none

chore(deps): update minor dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: update to Node 14
  .nvmrc
Due: none

chore(deps): update eslint temp bypassing flow
  .eslintrc.js
  package.json
  src/templates/blog-index/types.js
  yarn.lock
Due: eslint --fix, flow, prettier --write

chore(deps): upgrade lint-staged and husky
  .husky/pre-commit
  .huskyrc
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update testing libraries
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update to latest versions of jest
  jest.config.js
  package.json
  src/components/base-components/quote-card/__tests__/__snapshots__/quote-card.test.js.snap
  src/components/base-components/related-content/__tests__/__snapshots__/related-content.test.js.snap
  yarn.lock
Due: eslint --fix, flow, prettier --write

chore(deps): update miscellaneous dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(ci): update CircleCI node image
  .circleci/config.yml
Due: none

chore: run prettier
  src/components/work/carousel/index.js
  src/components/work/testProps.js
Due: eslint --fix, flow

chore(deps): update non critical dependencies (#647)
  .circleci/config.yml
  .eslintrc.js
  .husky/pre-commit
  .huskyrc
  .nvmrc
  jest.config.js
  package.json
  src/components/base-components/quote-card/__tests__/__snapshots__/quote-card.test.js.snap
  src/components/base-components/related-content/__tests__/__snapshots__/related-content.test.js.snap
  src/components/work/carousel/index.js
  src/components/work/testProps.js
  src/templates/blog-index/types.js
  yarn.lock
Due: eslint --fix, flow, prettier --write

begin updating Gatsby to v3
  package.json
  yarn.lock
Due: prettier --write

chore: set dev_ssr to false
  gatsby-config.js
Due: eslint --fix, flow

chore: resolve eslint parser issue
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint --fix, flow, prettier --write

chore(deps): update gatsby v3 (#648)
  .eslintrc.js
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, flow, prettier --write

chore: clean up dead code paths
  gatsby-node.js
  src/components/work/__tests__/work.test.js
  src/components/work/carousel/carousel-controls.js
  src/components/work/carousel/index.js
  src/components/work/carousel/types.js
  src/components/work/index.js
  src/components/work/testProps.js
  src/layouts/projects.js
Due: eslint --fix, flow

chore(deps): update dependencies to gatsby v4
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, flow, prettier --write

chore: update to latest gatsby image pattern
  src/components/blog-excerpts/blog-excerpt.js
  src/components/blog-excerpts/homepage-blog-list.js
  src/components/types.js
  src/templates/blog-post/index.js
Due: eslint --fix, flow
