Repository entorenee/Portfolio-Site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, flow, prettier --write

fix(deps): update dependency react-helmet to v6
  package.json
  yarn.lock
Due: prettier --write

refactor: replace theme
  babel.config.js
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, flow, prettier --write

fix: ignore Emotion node module error
  .flowconfig
Due: none

feat: update emotion dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: update dev dependencies
  package.json
  yarn.lock
Due: prettier --write

feat: update React and React Helmet
  package.json
  src/layouts/main.js
  src/layouts/projects.js
  src/projects/javascript-calculator/Components/App.js
  src/projects/pomodoro-timer/Components/App.js
  src/projects/pomodoro-timer/Components/Timer.js
  src/projects/simon-game/Components/App.js
  src/projects/tic-tac-toe/Components/App.js
  src/templates/blog-index/index.js
  src/templates/blog-post/index.js
  src/templates/resource-page.js
  yarn.lock
Due: eslint --fix, flow, prettier --write

fix: remove redundant / in urls
  src/components/base-components/related-content/index.js
  src/templates/blog-index/blog-post-excerpt.js
Due: eslint --fix, flow

Update dependency eslint-plugin-flowtype to ^5.1.1
  package.json
  yarn.lock
Due: prettier --write

Update babel monorepo to ^7.10.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency eslint-plugin-flowtype to ^5.1.3
  package.json
  yarn.lock
Due: prettier --write

Update babel monorepo to ^7.10.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency @testing-library/jest-dom to ^5.9.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency lint-staged to ^10.2.7
  package.json
  yarn.lock
Due: prettier --write

Update babel monorepo to ^7.10.2
  package.json
  yarn.lock
Due: prettier --write

Update dependency @testing-library/react to ^10.0.5
  package.json
  yarn.lock
Due: prettier --write

Update dependency flow-bin to ^0.126.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency @testing-library/react to ^10.0.6
  package.json
  yarn.lock
Due: prettier --write

Update dependency flow-bin to ^0.126.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency lint-staged to ^10.2.8
  package.json
  yarn.lock
Due: prettier --write

Update dependency @testing-library/react to ^10.1.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency prettier-config-dslemay to v2
  package.json
  yarn.lock
Due: prettier --write

Update dependency eslint-config-dslemay to ^4.1.2
  package.json
  yarn.lock
Due: prettier --write

chore: run new Prettier config against project
  src/components/about/random-quote.js
  src/components/contact/index.js
  src/components/header/__tests__/header.test.js
  src/components/work/carousel/carousel-controls.js
  src/components/work/carousel/index.js
  src/pages/thanks.js
  src/projects/javascript-calculator/Components/App.js
  src/projects/javascript-calculator/Components/Key.js
  src/projects/javascript-calculator/helpers.js
  src/projects/pomodoro-timer/Components/App.js
  src/projects/pomodoro-timer/Components/Timer.js
  src/projects/pomodoro-timer/helpers.js
  src/projects/simon-game/Components/App.js
  src/projects/simon-game/Components/ColorPlayButtons.js
  src/projects/simon-game/Components/Counter.js
  src/projects/simon-game/Components/PowerButton.js
  src/projects/simon-game/Components/Start.js
  src/projects/simon-game/Components/Strict.js
  src/projects/simon-game/helpers.js
  src/projects/tic-tac-toe/Components/App.js
  src/projects/tic-tac-toe/Components/Cell.js
  src/projects/tic-tac-toe/Components/MarkerSelector.js
  src/projects/tic-tac-toe/helpers.js
  src/templates/blog-post/index.js
Due: eslint --fix, flow

Update dependency lint-staged to ^10.2.9
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  flow: any of: *.js
  prettier --write: any of: *.{json, md}
