Repository entorenee/Portfolio-Site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, flow, prettier --write

chore(deps): update dependency lint-staged to ^9.4.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update babel monorepo to ^7.6.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency is-ci-cli to v2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @testing-library/jest-dom to ^4.1.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @babel/core to ^7.6.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency husky to ^3.0.9
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency dotenv to ^8.2.0
  package.json
  yarn.lock
Due: prettier --write

chore: remove use of __experimentalThemes key
  gatsby-config.js
Due: eslint --fix, flow

chore(deps): update dependency flow-bin to ^0.110.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update react monorepo to ^16.11.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency flow-typed to ^2.6.2
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency flow-bin to ^0.110.1
  package.json
  yarn.lock
Due: prettier --write

chore: resolve linting errors
  src/components/about/blurb.js
  src/projects/pomodoro-timer/Components/Timer.js
  src/templates/blog-post/post-meta.js
Due: eslint --fix, flow

fix: properly sort homepage blog posts
  src/components/blog-excerpts/homepage-blog-list.js
Due: eslint --fix, flow

chore(deps): update dependency eslint-config-dslemay to ^3.0.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency react-icons to ^3.8.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @testing-library/jest-dom to ^4.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to ^6.6.0
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  flow: any of: *.js
  prettier --write: any of: *.{json, md}
