Repository entorenee/Portfolio-Site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, flow, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "flow",
    "git add"
  ],
  "*.{json, md}": [
    "prettier --write",
    "git add"
  ]
}

chore: remove build step from validate command
  package.json
Due: prettier --write

chore(deps): update to gatsby v4 (#651)
  gatsby-config.js
  package.json
  src/components/blog-excerpts/blog-excerpt.js
  src/components/blog-excerpts/homepage-blog-list.js
  src/components/types.js
  src/templates/blog-post/index.js
  yarn.lock
Due: eslint --fix, flow, prettier --write

chore: set up typescript dependencies
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: update lint and test patterns
  .eslintrc.js
  babel.config.js
  jest.config.js
  package.json
  src/components/about/__tests__/about.test.tsx
  src/components/about/testProps.ts
  src/components/base-components/button/__tests__/__snapshots__/button.test.tsx.snap
  src/components/base-components/button/__tests__/button.test.tsx
  src/components/base-components/card/__tests__/__snapshots__/card.test.tsx.snap
  src/components/base-components/card/__tests__/card.test.tsx
  src/components/base-components/quote-card/__tests__/__snapshots__/quote-card.test.tsx.snap
  src/components/base-components/quote-card/__tests__/quote-card.test.tsx
  src/components/base-components/related-content/__tests__/__snapshots__/related-content.test.tsx.snap
  src/components/base-components/related-content/__tests__/related-content.test.tsx
  src/components/contact/__tests__/contact.test.tsx
  src/components/footer/__tests__/footer.test.tsx
  src/components/header/__tests__/header.test.tsx
  yarn.lock
Due: eslint --fix, flow, prettier --write

chore: add type check to validate script
  package.json
Due: prettier --write

chore: switch over gatsby files to TS
  gatsby-browser.js
  gatsby-browser.tsx
  gatsby-config.ts
  gatsby-node.ts
  package.json
  yarn.lock
Due: eslint --fix, flow, prettier --write

chore: resolve lint issues
  .eslintignore
  .eslintrc.js
  package.json
  src/components/about/random-quote.tsx
  src/components/base-components/button/index.tsx
  src/components/base-components/related-content/index.tsx
  src/components/blog-excerpts/homepage-blog-list.tsx
  src/components/contact/index.tsx
  src/components/contact/social-icon.tsx
  src/components/footer/index.tsx
  src/components/header/mobile-navigation/index.tsx
  src/components/header/mobile-navigation/menu-icon.tsx
  src/components/hooks/use-media-query.ts
  src/components/hooks/use-slideshow.ts
  src/components/types.ts
  src/layouts/main.tsx
  src/pages/thanks.tsx
  src/templates/blog-index/blog-nav-link.tsx
  src/templates/blog-index/blog-post-excerpt.tsx
  src/templates/blog-index/index.tsx
  src/templates/blog-index/types.ts
  src/templates/blog-post/index.tsx
  src/templates/blog-post/post-meta.tsx
  src/templates/resource-page.tsx
  testUtils/assetsTransformer.js
  yarn.lock
Due: eslint --fix, flow, prettier --write

chore: run linting on TS files
  .lintstagedrc
Due: none

chore: temporarily change rule to warn
  src/components/about/__tests__/about.test.tsx
Due: none

chore: fix linting (#653)
  .eslintignore
  .eslintrc.js
  .lintstagedrc
  package.json
  src/components/about/__tests__/about.test.tsx
  src/components/about/random-quote.tsx
  src/components/base-components/button/index.tsx
  src/components/base-components/related-content/index.tsx
  src/components/blog-excerpts/homepage-blog-list.tsx
  src/components/contact/index.tsx
  src/components/contact/social-icon.tsx
  src/components/footer/index.tsx
  src/components/header/mobile-navigation/index.tsx
  src/components/header/mobile-navigation/menu-icon.tsx
  src/components/hooks/use-media-query.ts
  src/components/hooks/use-slideshow.ts
  src/components/types.ts
  src/layouts/main.tsx
  src/pages/thanks.tsx
  src/templates/blog-index/blog-nav-link.tsx
  src/templates/blog-index/blog-post-excerpt.tsx
  src/templates/blog-index/index.tsx
  src/templates/blog-index/types.ts
  src/templates/blog-post/index.tsx
  src/templates/blog-post/post-meta.tsx
  src/templates/resource-page.tsx
  testUtils/assetsTransformer.js
  yarn.lock
Due: eslint --fix, flow, prettier --write

chore(deps): update dependency husky to ^7.0.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @typescript-eslint/eslint-plugin to v2.34.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update jest monorepo to ^28.1.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency react-icons to ^3.11.0
  package.json
  yarn.lock
Due: prettier --write

chore: test redirect pattern
  _redirects
Due: none

chore: test redirect pattern (#661)
  _redirects
Due: none

chore: move redirects file into static folder
  static/_redirects
Due: none

chore: move redirects file into static folder (#662)
  static/_redirects
Due: none

feat: update images
  src/images/headshot.jpg
  static/avatar.jpg
Due: none

feat: update name
  gatsby-config.ts
  package.json
  src/components/about/blurb.tsx
  src/components/about/hero.tsx
  src/components/about/index.tsx
  src/components/footer/index.tsx
  src/layouts/main.tsx
  src/pages/resource-pages/graphql.md
  src/templates/blog-index/index.tsx
  src/templates/blog-post/index.tsx
  src/templates/resource-page.tsx
Due: prettier --write

feat: update url and email
  README.md
  gatsby-config.ts
  src/components/contact/index.tsx
Due: none

feat: update formspree action
  src/components/contact/index.tsx
Due: none

feat: update name (#663)
  README.md
  gatsby-config.ts
  package.json
  src/components/about/blurb.tsx
  src/components/about/hero.tsx
  src/components/about/index.tsx
  src/components/contact/index.tsx
  src/components/footer/index.tsx
  src/images/headshot.jpg
  src/layouts/main.tsx
  src/pages/resource-pages/graphql.md
  src/templates/blog-index/index.tsx
  src/templates/blog-post/index.tsx
  src/templates/resource-page.tsx
  static/avatar.jpg
Due: prettier --write

chore: test blog tag glob redirect
  static/_redirects
Due: none

chore: add missing slash for redirect
  static/_redirects
Due: none

chore: include www in redirects
  static/_redirects
Due: none

chore: use shadowing on domain redirects
  static/_redirects
Due: none

feat: create redirects to new domain
  static/_redirects
Due: none

feat: make domain redirects permanent
  static/_redirects
Due: none

chore: update Github account name
  package.json
  src/components/contact/index.tsx
Due: prettier --write

chore: update profile image
  src/images/headshot.jpg
  static/avatar.jpg
Due: none
