Repository entorenee/Portfolio-Site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, flow, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "flow",
    "git add"
  ],
  "*.{json, md}": [
    "prettier --write",
    "git add"
  ]
}

fix(deps): update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to ^6.5.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to ^9.4.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to ^3.0.8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency flow-bin to ^0.109.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update emotion monorepo to ^10.0.20
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @testing-library/react to ^9.3.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update react monorepo to ^16.10.2
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update emotion monorepo to ^10.0.21
  package.json
  yarn.lock
Due: prettier --write

refactor: postDateSlug to replace hyphens
  src/utils/helpers.js
Due: eslint --fix, flow

add slug field for ContentfulBlogPost types
  gatsby-node.js
Due: eslint --fix, flow

feat: add h1 class styles
  src/components/theme-utils.js
Due: eslint --fix, flow

feat: add HeadlineImage type
  src/components/types.js
Due: eslint --fix, flow

feat: create blog excerpts section
  src/components/blog-excerpts/blog-excerpt.js
  src/components/blog-excerpts/homepage-blog-list.js
Due: eslint --fix, flow

feat: remove Work section and add Blog Excerpts
  src/pages/index.js
Due: eslint --fix, flow

refactor: update templates to use slug field
  gatsby-node.js
  src/templates/blog-index/blog-post-excerpt.js
  src/templates/blog-index/types.js
  src/templates/blog-post/index.js
Due: eslint --fix, flow

feat: update blurb
  src/components/about/blurb.js
Due: eslint --fix, flow

feat: update skills section
  src/components/about/skills.js
Due: eslint --fix, flow

chore: uninstall date-fns package
  package.json
  yarn.lock
Due: prettier --write

fix: update path prefix handling
  src/templates/blog-post/post-meta.js
  src/templates/blog-post/url-base.js
Due: eslint --fix, flow

fix: hero text width issue
  src/components/about/hero.js
Due: eslint --fix, flow

refactor: header navigation
  src/components/header/index.js
  src/components/header/mobile-navigation/index.js
  src/components/header/navigation.js
  src/components/header/navigation/nav-link.js
  src/components/header/navigation/scroll-link.js
Due: eslint --fix, flow

feat: remove react-scroll dependency
  flow-typed/npm/react-scroll_vx.x.x.js
  package.json
  src/components/about/index.js
  src/components/contact/index.js
  src/components/header/__tests__/header.test.js
  src/components/header/index.js
  src/components/work/index.js
  yarn.lock
Due: eslint --fix, flow, prettier --write

refactor: helpers to post-slug module
  gatsby-config.js
  gatsby-node.js
  src/utils/post-slug.js
Due: eslint --fix, flow

fix: semantic element issues
  src/components/about/hero.js
  src/components/about/skills.js
  src/components/contact/index.js
Due: eslint --fix, flow

refactor: eliminate edges from graphql queries
  gatsby-node.js
Due: eslint --fix, flow

chore: run Prettier
  src/components/header/index.js
Due: eslint --fix, flow

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore: remove lock file maintenance from renovate
  renovate.json
Due: prettier --write

chore(deps): update dependency @testing-library/jest-dom to ^4.1.1
  package.json
  yarn.lock
Due: prettier --write
